@model ASP_Project.Common.Models.LoginUser
<div class="">
    @if (Request.Cookies["user"] == null)
    {
        using (Html.BeginForm("Login", "home"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal ">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group ">
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    @if (ViewBag.LoginMessage != null)
                    {
                        <span class="field-validation-valid text-danger">@ViewBag.LoginMessage</span>
                    }
                    <div class="col-md-offset-2 col-md-10">
                        <input id="login" type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        var hour = DateTime.Now.Hour;

        string great = "Good ";
        if (hour > 4 && hour < 12) { great += "morning"; }
        if (hour > 11 && hour < 18) { great += "Afternoon"; }
        if (hour > 17 && hour < 22) { great += "Evening"; }
        if (hour > 21 && hour <= 23 || hour < 5) { great += "Night"; }
        great += " " + Request.Cookies["user"]?["firstName"] + " " + Request.Cookies["user"]?["lastName"];

        <div class="panel-body">
            <h4>@great</h4>
            @Html.ActionLink("Log out", "Logout", new { controller = "Home" }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
